Package: com.devntnghia.sspd
Name: SamsungPowerDown
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: Turn your boring Power Down view into Samsung's one!
Depiction: https://devntnghia.github.io/depics/sspd.html
Maintainer: DevNTNghia
Author: DevNTNghia
Section: Tweaks
